*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  margin: 50px;
  width: 400px;
  background-color: rgb(185, 248, 229);
}

.board div {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}
